@import "../../styles/variables.less";

my-side-panel {
  .side-panel {
    position: fixed;
    left: 0;
    top: 76px;
    z-index: 10000;
    width: 40px;
    background-color: #6f7c9d;
    transition: width 0.5s;
    transition-duration: 0.5s;

    .btn.btn-info.btn-block {
      border-radius: 0;
    }

    &.expanded {
      width: 100px;

      .item {
        .plugin-item, .item-heading {
          .name, .description {
            display: inline-block;
            vertical-align: top;
            max-width: 70px;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .item {
      padding: 10px 0;
      background-color: #3C4355;
      border-bottom: 1px solid;
      color: white;
      cursor: pointer;

      .item-heading{
        &.opened {
          border-bottom: 2px solid;
        }
      }
      .item-body {
        padding: 0 6px;
      }

      .plugin-item, .item-heading {
        &:first-child {
          padding-top: 10px;
        }

        .name, .description {
          display: none;
        }
      }

      &:first-child {
        border-top: 1px solid;
      }
      &.source {
        color: #49C630;
      }

      &.sink {
        color: #66FAF1;
      }

      &.transform {
        color: #66A3E1;
      }
    }
  }
}
