<div class="side-panel text-center">
  <div ng-repeat="item in MySidePanel.items"
       class="panel-item {{item}}"
       ng-class="{'active': MySidePanel.openedPluginType === '{{item}}'}"
       ng-click="MySidePanel.openPlugins(item)">
    <span>{{item | caskCapitalizeFilter}}</span>
  </div>

  <div class="panel-container am-slide-bottom"
       data-animation="am-slide-down"
       ng-if="MySidePanel.showPlugin">

    <div class="plugin-container">
      <div ng-repeat="plugin in MySidePanel.plugins"
           class="list-group-item"
           ng-click="MySidePanel.addPlugin(plugin, plugin.type)">
        <strong class="fa fa-plug"></strong>
        <strong>{{plugin.name}}</strong>
        <i><small>{{plugin.description}}</small></i>
      </div>
    </div>

  </div>
</div>
