<table class="table table-status">
  <tbody>
    <tr>
      <td ng-if="status">
        <span>Status</span>
        <span ng-class="{'txt-failed': status === 'FAILED' || status === 'KILLED', 'txt-running': status === 'RUNNING'}">
          <span class="fa" ng-class="{'fa-refresh': status === 'RUNNING', 'fa-exclamation-triangle': status === 'FAILED' || status === 'KILLED'}"></span>
          <span ng-bind="status | caskCapitalizeFilter"></span>
        </span>
      </td>
      <td ng-if="!status">
        <span>Status</span>
        <span>Not Started</span>
      </td>
      <td ng-if="start">
        <span>Started</span>
        <span ng-bind="start | amDateFormat: 'MM/DD/YY h:mm:ss a'"></span>
      </td>
      <td ng-if="!start">
        <span>Started</span>
        <span>&mdash;</span>
      </td>
      <td ng-if="duration">
        <span>Duration</span>
        <span ng-bind="duration | amDurationFormat | caskCapitalizeFilter"></span>
      </td>
      <td ng-if="!duration">
        <span>Duration</span>
        <span>&mdash;</span>
      </td>
    </tr>
  </tbody>
</table>