<div class="row">
  <div class="col-lg-3">
    <div class="input-fields">
      <div class="list-group">
        <a href=""
            class="list-group-item"
            ng-repeat="field in MyRuleFactoryCtrl.inputFields"
            ng-click="MyRuleFactoryCtrl.onFieldClicked(field)">
          {{field.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="rule-container">
      <div class="well well-lg">
        <h2> Rules: </h2>
        <div ng-repeat="field in MyRuleFactoryCtrl.fields">
          <my-rules-container data-field-obj="field"></my-rules-container>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>
  {{MyRuleFactoryCtrl.fields | json}}
</pre>
