<div class="sr-only" id="sidepanel-anchor"></div>
<div ng-controller="WorkflowsRunsStatusController as StatusController">
  <my-workflow-graph data-model="StatusController.data"
                     data-on-change-flag="StatusController.onChangeFlag"
                     data-click-context="StatusController"
                     data-click="StatusController.workflowProgramClick"
                     data-token-click="StatusController.workflowTokenClick"></my-workflow-graph>


  <my-pageslide open="StatusController.showSidepanel" width="600">
    <button
      class="btn btn-default"
      ng-click="StatusController.showSidepanel = !StatusController.showSidepanel"
    >
      <i class="fa pull-left"
        ng-class="{ 'fa-arrow-left': !StatusController.showSidepanel, 'fa-arrow-right': StatusController.showSidepanel }"
      ></i>
    </button>

    <div class="sidepanel" ng-if="StatusController.showSidepanel && StatusController.selectedNode">
      <div class="sidepanel-heading">
        <h3>Token: {{ StatusController.selectedNode }}</h3>
      </div>


      <ul class="nav nav-tabs slanted-tabs" role="tablist" ng-init="StatucController.activeTab = 0">
        <li role="presentation"
            ng-class="{'active': StatucController.activeTab === 0}"
            ng-click="StatucController.activeTab = 0">
          <a href="" role="tab">User</a>
        </li>
        <li role="presentation"
            ng-class="{'active': StatucController.activeTab === 1}"
            ng-click="StatucController.activeTab = 1">
          <a href="" role="tab">Schema</a>
        </li>
      </ul>

      <div class="tab-content" ng-if="StatucController.activeTab === 0">
        <div ng-if="!StatusController.usertokens.isEmpty">
          <table class="table table-bordered">
            <thead>
              <th>Key</th>
              <th>Value</th>
            </thead>

            <tbody>
              <tr ng-repeat="(key, value) in StatusController.usertokens.tokens">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="well text-center" ng-if="StatusController.usertokens.isEmpty">
          <h4>No Token</h4>
        </div>
      </div>

      <div class="tab-content" ng-if="StatucController.activeTab === 1">
        <div ng-if="!StatusController.systemtokens.isEmpty">
          <table class="table table-bordered">
            <thead>
              <th>Key</th>
              <th>Value</th>
            </thead>

            <tbody>
              <tr ng-repeat="(key, value) in StatusController.systemtokens.tokens">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="well text-center" ng-if="StatusController.systemtokens.isEmpty">
          <h4>No Token</h4>
        </div>
      </div>


    </div>

    <div class="sidepanel" ng-if="!StatusController.selectedNode">
      <div class="sidepanel-heading text-center" ng-if="StatusController.showSidepanel">
        <h3>No workflow node selected</h3>
      </div>
    </div>

  </my-pageslide>

</div>
